$-theme-default: (
  background: #171f2c,
  background2: #1e232b,
  content: #f4f4f5,
  primary: #f6c01b,
  accent: #2fbad8,
  secondary: #6498ca,
  spbSky0: #adadb1,
  spbSky1: #777f85,
  spbSky2: #333a43,
  spbSky3: #1e232a,

  black-0: #000000,
  white-0: #ffffff,
);
